{% extends 'base.html.twig' %}

{% block title %}New Appartment{% endblock %}

{% block body %}
    <h1>Create new Appartment</h1>

    {{ include('appartment/form.html.twig') }}

    <a href="{{ path('app_appartment_index') }}">back to list</a>
{% endblock %}
